body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.text-band{
  color: #1CC7C1;
}
.btn-brand{
  background-image: linear-gradient(75deg,#19D3AE,#0fcfec);
  border-color: transparent;
  text-transform: uppercase;
  font-weight: 600;
}